@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* font-weight:100 / Thin
font-weight:200 / Extra
font-weight:300 / Light
font-weight:400 / Normal/ Regular
font-weight:500 / Medium
font-weight:600 / Semi Bold
font-weight:700 / Bold
font-weight:800 / Extra Bold
font-weight:900 / Black */